body {
  background-color: #D3E9FC;
  font-family: Smooch Sans;
  padding:10px;
  font-size: 16px;
}
#portada {
  background-color: lightblue;
  text-align: center;
  border: 5px solid black;
  border-radius: 15px;
  padding: 22px;
}
  h1 {
  border-radius: 8px;
  border: 3px solid black;
  width: 170px;
  margin: 0 auto;
  padding: 5px 8px;
  line-height: 0.9;
  background-color: #4C97E9;
  font-size: 20px;
  color: white;
}
img {
  border: 5px solid black;
  border-radius: 10px;
  padding: 4px;
  background-color: #2E7BD1;
  width: 90px;
}
#contacto a {
  text-decoration: none;
  color: white;
  border: solid;
  border-radius: 10px;
  width: 163px;
  background-color: #4C97E9;
  padding: 8px;
  display: inline-block;
  text-align: center;
  margin: 2px 0;
}
#contacto {
  background-color: white;
  text-align: center;
  padding: 9px;
  border: solid;
  border-radius: 10px;
}
.Contactandform {
  text-align: left;
  border: solid;
  margin: 4px;
  background-color: #D3E9FC;
  border-radius: 5px;
  padding: 3px;
}
#formulario {
  margin-top: 10px;
  background-color: white;
  padding: 9px;
  border: solid;
  border-radius: 10px;
}
.casilla {
  line-height: 1.6;
  margin-top: 5px;
  margin-left: 10px;
  display: inline-block;
}
form button {
  margin-top: 5px;
  background-color: #4C97E9;
  border: 5px solid #4C97E9;
  border-radius: 10px;
  font-size: 16px;
  width: 100%;
  color: white;
}
.footer {
  background-color: #EDF8FF;
  padding: 5px;
  border-radius: 10px;
  font-size: 10px;
}
#navegación {
  background-color: #D3E9FC;
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
  border: 16px dashed white;
}
.tema {
  margin-top: 0;
  background-color: white;
  width: fit-content;
  padding: 5px 14px;
  border-radius: 10px;
  font-size: 28px;
}
.navlist {
  font-size: 22px;
}
ul a {
  text-decoration: none;
  color: #4C97E9;
  font-weight: bold;
}
.amigo {
  display: inline;
}