img {
border: solid 5px black;
 border-radius: 15px;
}
h1 {
font-weight: bold;
border: solid 5px black;
border-radius: 15px;
}

body {
 background-color: #83E9E6;
 text-align: center;
}
a {
background-color: white;
border-radius: 10px;
padding: 10px;
 display: block;
 margin: 5px;
border: solid 5px black;
}
